<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <parameter name="appiumURL" value="http://10.1.200.193:4492/wd/hub"/>
    <parameter name="appName" value="tongcheng_webview.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="10"/>
    <parameter name="keyElementWaitTime" value="30"/>
    <parameter name="shortWaitTime" value="5"/>
    <parameter name="cityName" value="苏州"/>
    <parameter name="uid" value="15262342068"/>
    <parameter name="pwd" value="123456"/>
    <parameter name="name" value="测试"/>
    <parameter name="phone" value="15262342068"/>
    <parameter name="idCard" value="63252519760324553X"/>
    <parameter name="isLianPiao" value="0"/>

    <test name="取消删除所有订单0" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.SmokeTest">
                <methods>
                    <include name="cancelDeleteAllOrders"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="非会员下单（普票） -- 普通票 + 身份证票型" preserve-order="true">
        <parameter name="searchKeyword" value="苏州乐园"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestScenery">
                <methods>
                    <include name="scenery0002"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="非会员下单（普票） -- 普通票 + 实名制票型" preserve-order="true">
        <parameter name="searchKeyword" value="遂宁中国死海"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestScenery">
                <methods>
                    <include name="scenery0002"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="非会员下单（联票） -- 联票 + 身份证" preserve-order="true">
        <parameter name="searchKeyword" value="灵山大佛"/>
        <parameter name="isLianPiao" value="1"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestScenery">
                <methods>
                    <include name="scenery0002"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="非会员下单（联票） -- 普票 + 场次" preserve-order="true">
        <parameter name="searchKeyword" value="三亚宋城千古情"/>
        <parameter name="isLianPiao" value="1"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestScenery">
                <methods>
                    <include name="scenery0002"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="取消删除所有订单" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.SmokeTest">
                <methods>
                    <include name="cancelDeleteAllOrders"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>