<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <parameter name="appiumURL" value="http://10.1.200.193:4491/wd/hub"/>
    <parameter name="appName" value="tongcheng_client_150525.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="15"/>
    <parameter name="keyElementWaitTime" value="30"/>
    <parameter name="shortWaitTime" value="5"/>
    <parameter name="cityName" value="苏州"/>
    <parameter name="uid" value="13584829701"/>
    <parameter name="pwd" value="123456hq"/>

    <test name="测试 -- 我的同程" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0001"/>
                    <include name="common0002"/>
                    <include name="common0003"/>
                    <include name="common0004"/>
                    <include name="common0005"/>
                    <include name="common0006"/>
                    <include name="common0007"/>
                    <include name="common0008"/>
                    <include name="common0019"/>
                    <include name="common0020"/>
                    <include name="common0021"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="测试 -- 我的财富" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0009"/>
                    <include name="common0010"/>
                    <include name="common0011"/>
                    <include name="common0012"/>
                    <include name="common0013"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="测试 -- 我的卡券" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0014"/>
                    <include name="common0015"/>
                    <include name="common0016"/>
                    <include name="common0017"/>
                    <!--<include name="common0018"/>-->
                </methods>
            </class>
        </classes>
    </test>

    <test name="测试 -- 我的卡券2" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0014"/>
                    <include name="common0018"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="测试 -- 常用信息" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0022"/>
                    <include name="common0023"/>
                    <include name="common0024"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="测试 -- 我的收藏" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0025"/>
                    <include name="common0026"/>
                    <include name="common0027"/>
                    <include name="common0028"/>
                    <include name="common0029"/>
                    <include name="common0030"/>
                    <include name="common0031"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>