<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <!--<parameter name="automationName" value="Selendroid"/>-->
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <!--<parameter name="appiumURL" value="http://10.1.200.193:4492/wd/hub"/>-->
    <parameter name="appiumURL" value="http://10.1.200.193:4723/wd/hub"/>
    <parameter name="appName" value="tongcheng_752_beta.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="10"/>
    <parameter name="keyElementWaitTime" value="30"/>
    <parameter name="shortWaitTime" value="5"/>
    <parameter name="cityName" value="苏州"/>

    <test name="首页" preserve-order="true">
        <parameter name="pkgName" value="com.tongcheng.android"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestCommon">
                <methods>
                    <include name="common0032"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>