<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <parameter name="appiumURL" value="http://10.1.200.193:4491/wd/hub"/>
    <parameter name="appName" value="tongcheng_client_150527.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="10"/>
    <parameter name="keyElementWaitTime" value="30"/>
    <parameter name="shortWaitTime" value="5"/>
    <parameter name="cityName" value="苏州"/>
    <parameter name="uid" value="15262342068"/>
    <parameter name="pwd" value="123456"/>
    <parameter name="name" value="测试"/>
    <parameter name="phone" value="15262342068"/>
    <parameter name="idCard" value="63252519760324553X"/>

    <!--<test name="会员下单 &#45;&#45; 单景点" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="44988"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 单酒店多景点" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="46194"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 多景点" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="58732"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 多酒店多景点（注意：手工测试点中没有多酒店多景点，需要处理下）" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="58732"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001x"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 单酒店" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="55673"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 单酒店单景点" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="54168"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="会员下单 &#45;&#45; 身份证套餐" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="54132"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.RegressionTestTravel">-->
                <!--<methods>-->
                    <!--<include name="travel0001"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->



    <test name="取消删除所有订单" preserve-order="true">
        <classes>
            <class name="hq.mobile.test.tc.testcases.SmokeTest">
                <methods>
                    <include name="cancelDeleteAllOrders"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>