<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <parameter name="appiumURL" value="http://10.1.200.193:4491/wd/hub"/>
    <parameter name="appName" value="tongcheng_client_150525.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="15"/>
    <parameter name="keyElementWaitTime" value="30"/>
    <parameter name="shortWaitTime" value="5"/>
    <parameter name="cityName" value="苏州"/>
    <parameter name="uid" value="15262342068"/>
    <parameter name="pwd" value="123456"/>

    <test name="会员下单 -- 单景点" preserve-order="true">
        <parameter name="searchKeyword" value="44988"/>
        <parameter name="name" value="测试"/>
        <parameter name="phone" value="15262342068"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.RegressionTestTravel">
                <methods>
                    <include name="travel0001"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>