<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteTC" parallel="false">
    <parameter name="appDir" value="D:/mobile/Appium/apks"/>
    <parameter name="automationName" value="Appium"/>
    <!--<parameter name="automationName" value="Selendroid"/>-->
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="4.4"/>
    <parameter name="appiumURL" value="http://127.0.0.1:4723/wd/hub"/>
    <parameter name="appName" value="tongcheng_26902971.apk"/>
    <parameter name="appPackage" value="com.tongcheng.android"/>
    <parameter name="appActivity" value="com.tongcheng.android.LoadingActivity"/>
    <parameter name="implicitlyWaitTime" value="10"/>

    <!--<test name="查看景点详细信息" preserve-order="true">-->
        <!--<parameter name="searchKeyword" value="苏州乐园"/>-->
        <!--<parameter name="uid" value="13584829701"/>-->
        <!--<parameter name="pwd" value="a123456"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.SmokeTest">-->
                <!--<methods>-->
                    <!--<include name="viewSceneryDetail"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="登录" preserve-order="true">
        <parameter name="uid" value="13584829701"/>
        <parameter name="pwd" value="a123456"/>
        <classes>
            <class name="hq.mobile.test.tc.testcases.SmokeTest">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--<test name="电影票" preserve-order="true">-->
        <!--<parameter name="uid" value="13584829701"/>-->
        <!--<parameter name="pwd" value="a123456"/>-->
        <!--<parameter name="webviewName" value="WEBVIEW_com.tongcheng.android"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.SmokeTest">-->
                <!--<methods>-->
                    <!--<include name="movie"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="测试跳过" preserve-order="true">-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.SmokeTest">-->
                <!--<methods>-->
                    <!--<include name="login"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="测试失败" preserve-order="true">-->
        <!--<parameter name="uid" value="13584829701"/>-->
        <!--<parameter name="pwd" value="a123456"/>-->
        <!--<classes>-->
            <!--<class name="hq.mobile.test.tc.testcases.SmokeTest">-->
                <!--<methods>-->
                    <!--<include name="failedDemo"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

</suite>